<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Header Underline</title>

<link rel="stylesheet" href="/style.css">

</head>
<body>

<header>
  <a href="#0" class="logo">数据结构知识管理系统</a>
  <nav class="site-nav">
    <ul>
      <li><a href="/login ">个人中心</a></li>
      <li><a href="/gailun ">数据结构概论</a></li>
      <li><a href="/shu ">树</a></li>
      <li><a href="/tu">图</a></li>
      <li><a href="/xianxingbiao">线性表</a></li>
      <li><a href="/lianbiao">链表</a></li>

      <li><a href="/shuzu">数组</a></li>
      <li><a href="/duilie">队列</a></li>
      <li><a href="/zhan">栈</a></li>
      <li><a href="/chazhaopaixu ">查找排序</a></li>
    </ul>
  </nav>
</header>

<script  src="/script.js"></script>

</body>
</html>
